* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif
}


/*conteiner header and main  */
div.conteiner {
    display: flex;
    height: calc(100vh - 86.4px);
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

.color-grey {
    color: #7f7f7f;
}


/*! header */
header {
    width: 40px;
    background-color: black;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
}


header ul {
    list-style: none;
}

header img[alt="main logo spotify"] {
    display: none;
}

header img {
    width: 1.5rem;
    vertical-align: middle;
}

header nav {
    padding: .5rem 0;
}

header li {
    padding: .2rem 0;
}

header a {
    text-decoration: none;
    color: #808287;
    font-size: .7rem;
    font-weight: 600;
}

header p,
header hr {
    display: none;
}

header div.playlist {
    display: none;
}

header .account {
    align-items: center;
}

header div.account div:first-of-type img {
    width: 1rem;
    padding-bottom: 1rem;
    margin-right: 2px;
    vertical-align: middle;
}

header div.account div:last-of-type img {
    width: 1.5rem;
    height: 1.5rem;
    background-color: #808287;
    border-radius: 50%;
}

/*! main */
main {
    background-color: #141922;
    width: calc(100vw - 40px);
    color: #808287;
    padding: 0 1rem;
    overflow: scroll;
    position: relative;
}

/* upgrade section */
main .upgrade {
    display: flex;
    justify-content: end;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 1.5rem 1rem;
    position: fixed;
    right: 0;
    left: 41px;
}

main button {
    padding: .5rem 2rem;
    background: none;
    color: white;
    border-radius: 1rem;
    border: 1px solid #b8b9bb;
    text-transform: uppercase;
    font-size: .7rem;
    font-weight: 600;
}

/* main song section*/

main div.content {
    justify-content: space-between;
}

main div.main-header ul {
    list-style: none;
    justify-content: center;
    padding-top: 86px;
}

main div.main-header ul li {
    padding: 1rem;
    text-transform: uppercase;
    font-size: .7rem;
    font-weight: 600;
}

main div.main-header ul li hr {
    border-bottom: 2px solid #b2ff2f;
    width: 2rem;
    margin-left: 1.4rem;
}

main h2,
main h3 {
    color: white;
}

main h2 {
    padding: 2rem 0;
    font-size: 1.3rem;
}

main h3 {
    padding: 1rem 0 .5rem 0;
    font-size: .9rem;
}

main p {
    font-size: .7rem;
    font-weight: 600;
}

main article {
    width: calc((100% / 2) - .5rem);
    align-items: center;
    padding-bottom: 1rem;
}

main article h3 {
    text-align: center;
}

main article img {
    width: 100%;
}

main div h2~p {
    padding-bottom: 2rem;
}

main article img.circle {
    border-radius: 50%;
}

/*! footer */
footer {
    background-color: #282828;
    display: flex;
    justify-content: space-between;
    padding: .5rem;
    height: 86.4px;
}

footer div.riproduzione,
div.audio {
    display: flex;
    align-items: center;
    color: #808287;
    padding: 1rem 0;
}

footer div.riproduzione h3 {
    color: white;
}

footer div.song-info {
    padding: 0 1.5rem 0 .5rem;
    font-size: .6rem;
    font-weight: 700;
}


footer div.riproduzione i {
    font-size: .8rem;
    padding: .2rem 0;
}

footer div.riproduzione img {
    width: 1.5rem;
    height: 1.5rem;
}

footer .media-player {
    align-items: center;
    padding-bottom: 1rem;
}

footer .media-player ul,
.audio ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
}

footer .media-player nav:first-of-type {
    width: 12rem;
}

footer .media-player li {
    color: white;
    font-size: 1rem;
    padding: 0 .2rem;
}

footer .media-player nav:nth-child(1) li:nth-child(3) {
    font-size: 1.7rem;
}

footer li p {
    font-size: .6rem;
}

footer li div {
    height: 3px;
    width: 30vw;
    background-color: #595959;
    border-radius: 16px;
}

footer li div div {
    height: 3px;
    width: 5vw;
    background-color: #bebebe;
}

footer .audio li {
    color: #fcfcfc;
    font-size: .7rem;
    padding: 0 .2rem;
}

footer .audio li div {
    width: 15vw;
}

footer .audio li div div {
    width: 3vw;
}

/* ! Responsive */


@media screen and (min-width:576px) {
    header {
        width: 250px;
        background-color: black;
        color: white;
        justify-content: space-between;
        align-items: flex-start;
        padding: 1rem 1rem .5rem 1rem;
    }

    header img[alt="main logo spotify"] {
        display: inline-block;
        width: 7rem;
        padding-bottom: 1rem;
    }


    header img[alt="small main logo spotify"] {
        display: none;
    }

    header p,
    header hr {
        display: inline-block;
    }

    header div.playlist {
        display: flex;
    }

    header hr {
        width: 100%;
        border-top: none;
    }

    header .account {
        align-items: flex-start;
        width: 100%;
    }

    header .add {
        display: flex;
        align-items: center;
        padding-bottom: .8rem;
    }

    header .playlist h2 {
        font-size: .8rem;
        text-transform: uppercase;
        padding-bottom: .5rem;
    }

    header .playlist i {
        font-size: 2.5rem;
        color: #808287;
    }

    header .playlist p {
        font-size: .8rem;
        font-weight: 600;
        color: #808287;
        padding-left: .5rem;
    }

    header .playlist li {
        font-size: .7rem;
        font-weight: 600;
        padding-bottom: 1rem;
        color: #808287;
    }

    header div.account div:first-of-type img {
        padding-bottom: 0;
    }

    header div.account div:first-of-type {
        padding-bottom: .5rem;
        font-size: .7rem;
        color: #808287;
        font-weight: 600;
    }

    header div.account div:last-of-type img {
        margin-right: .3rem;
    }

    header div.account div:last-of-type {
        font-size: .75rem;
        font-weight: 900;
        padding-top: .8rem;
    }

    /* upgrade section */
    main .upgrade {
        left: 188px;
    }

    /* footer section */
    footer .riproduzione .song-info div {
        display: flex;
    }

    footer div.riproduzione img {
        width: 2.5rem;
        height: 2.5rem;
    }

    footer div.song-info p {
        padding-right: .1rem;
    }

    footer .audio li {
        padding: 0 .5rem;
    }
}


@media screen and (min-width:768px) {

    main article {
        width: calc((100% / 4) - .5rem);
        justify-content: flex-start;
        align-items: center;
        padding-bottom: 1rem;
    }

    /* footer */
    footer .riproduzione .flex-column {
        flex-direction: row;
    }

    footer .riproduzione .flex-column i {
        padding-right: .8rem;
    }

}